.summary-donation-cont{
    position: absolute;
    width: 60%;
    height: 80%;
    top:15%;
    left: 35%;
    /* border: 1px solid black; */
}
.summ-info{
    width: 60%;
    margin: 4rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    color: maroon;
    background-color: white;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25) ;
  
}

.summ-info h1{
    font-size: 2.5rem;
    
}

.summ-info span{
    font-size: 2.5rem;
    
}