::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
 background:rgba(220, 20, 60 ,0.1);
 border-radius: 10px;
 
}
::-webkit-scrollbar-thumb{
 background: maroon;
 border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
     background:rgba(128, 0, 0,0.6);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}